@{
}

<h1>Add Cheese</h1>

<form method="post">
    <label>Name</label>
    <input name="name"  type="text"/>
    <label>Discription</label>
    <input name="discription" type="text" />
    <input type="submit" value="Add Cheese" />
    
</form>